.views-row {
  position: relative;
}
.views-row .views-field-field-carousel-image .field-content img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.views-row .views-field-nothing .field-content .match {
  position: absolute;
  height: 100%;
  z-index: 1;
  top: 0;
  background-color: rgba(0, 0, 0, 0.757);
  width: 100%;
  padding: 240px 5% 0 5%;
}
.views-row .views-field-nothing .field-content .match::before {
  content: "";
  background-image: url("../../images/icc-world-cup-trophy-2023.png");
  position: absolute;
  top: 60px;
  left: 150px;
  bottom: 0;
  background-repeat: no-repeat;
  right: 0;
  z-index: 3;
  background-size: 50px;
}
.views-row .views-field-nothing .field-content .match__info {
  font-size: 30px;
  margin-bottom: 5px;
}
.views-row .views-field-nothing .field-content .match__info__title, .views-row .views-field-nothing .field-content .match__info__teams {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
.views-row .views-field-nothing .field-content .match__info__title a, .views-row .views-field-nothing .field-content .match__info__teams a {
  text-decoration: none;
  color: white;
}
.views-row .views-field-nothing .field-content .match__info .collon {
  color: white;
  margin: 0 10px;
}
.views-row .views-field-nothing .field-content .match__date {
  text-transform: uppercase;
  margin-bottom: 5px;
  color: plum;
}
.views-row .views-field-nothing .field-content .match__date__time {
  display: flex;
}
.views-row .views-field-nothing .field-content .match__date__time::before {
  content: "|";
  margin: 0 10px;
}
.views-row .views-field-nothing .field-content .match__venu {
  text-transform: uppercase;
  color: white;
  text-decoration: solid;
  font-size: 18px;
  margin-bottom: 20px;
}
.views-row .views-field-nothing .field-content .match__venu::before {
  content: "";
  color: red;
  background-color: red;
  display: inline-block;
  height: 0.65em;
  width: 0.65em;
  margin-right: 0.4rem;
  border-radius: 50%;
}
.views-row .views-field-nothing .field-content .match__description {
  text-transform: capitalize;
  color: white;
  width: 400px;
}

.block-views-blockmatch-carousel-slider-block-1 h2 {
  display: none;
}

.slick-dots {
  width: auto;
  position: absolute;
  bottom: 6rem;
  right: 10%;
  display: block;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  height: auto;
  background-color: rgba(255, 255, 255, 0.7);
  margin: 0px;
}
.slick-dots li button {
  font-size: 0;
  height: 1px;
  padding: 2px 5px;
}
.slick-dots li button::before {
  font-size: 1px;
  top: -8px;
  content: " ";
}
.slick-dots .slick-active button {
  color: white;
  border-radius: 10px;
  background-color: white;
}

.Slick-Prev,
.Slick-Next {
  position: absolute;
  bottom: 5rem;
  right: 5rem;
  cursor: pointer;
  font-size: 24px;
  color: white;
}

.Slick-Prev {
  position: absolute;
  bottom: 5rem;
  right: 7rem;
  z-index: 3;
  cursor: pointer;
  font-size: 24px;
  color: white;
}

.Slick-Prev i,
.Slick-Next i {
  font-size: inherit;
}

.slick-disabled {
  color: rgba(255, 255, 255, 0.7);
}